@charset "utf-8";


body{ color: #5a686b;font-size:12px; min-width: 800px;}
.path {float:left;  margin-bottom: 10px; border-bottom:1px solid #5a686b; width:100%; line-height:30px; color: #5a686b;  font-size:14px; text-align: left;}
.clr {clear:both;}
.dashed{ border-bottom:1px dashed #5a686b;margin-bottom: 10px;}

.timecontrols{background:url(../images/iconDate.gif) center right no-repeat #f7f7f7;cursor:pointer;font:12px tahoma,arial;}

.subDashed{ border-bottom:1px dashed #9eabad;}
ul {list-style:none; margin:0px; padding:0px;}
input[type="button"],input[type="submit"]{
	min-height:24px;
	vertical-align:middle;
	cursor:pointer;
	border-left: 1px solid #c1cacc;
	border-top: 1px solid #c1cacc;
    border-bottom: 1px solid #5a686b;
    border-right: 1px solid #5a686b;
    background-color: #f2f4f4;
}
input[type="text"],input[type="password"],select,textarea{
	min-height:20px;
	vertical-align:middle;
	border-left: 1px solid #5a686b;
	border-top: 1px solid #5a686b;
    border-bottom: 1px solid #c1cacc;
    border-right: 1px solid #c1cacc;
    background-color: #f7f7f7;
    
}
textarea{font-size: 12px;}
select{min-height:18px;}

/**子标题**/
.subTitle{font-weight:bold;float:left;  margin-bottom: 10px; width:100%; line-height:30px;  font-size:14px; text-align: left;}
.subTitle .function{float: right;margin-right: 20px;margin-top: 2px;}
.subTitle .function input{ height: 28px;}

/**信息详情**/
.infoMap {margin-left:auto; margin-right:auto; width:800px;height: auto;}
.infoMap ul li {float:left;width:48%; min-height:32px;line-height:18px;}
.infoMap span{display: inline-block;}
.infoMap .monopolize{width: 100%;height: auto;min-height: 32px;}
.infoMap .monopolize .monopolize_name{float:left; width:16.8%;text-align: right; }
.infoMap .monopolize .monopolize_content{float:left;width:83.2%; text-align: left;}

.infoMap .name{float:left; width:35%;text-align: right; }
.infoMap .content{float:left;width:65%; text-align: left;}
.infoMap .showMemo{word-break:break-all;display:block;width:578px;line-height:24px; height:auto; min-height: 80px;background-color:#f7f7f7;border:1px solid #c1cacc;padding-left: 6px;}

/**信息编辑**/
.editInfoMap {margin-left:auto; margin-right:auto; width: 800px;display: block;}
.editInfoMap ul li {float:left;width:50%; height:36px;line-height:36px;margin-top: 10px;}
.editInfoMap span{display: inline-block;height: 100%;vertical-align: middle;}

.editInfoMap input,.editInfoMap select,.editInfoMap font{vertical-align: middle;height: 24px;}
.editInfoMap input{height: 20px;}
.editInfoMap .monopolize{width: 100%;height: auto;}
.editInfoMap .monopolize .monopolize_name{float:left; width:100px;text-align: right; }
.editInfoMap .monopolize .monopolize_content{float:left;width:680px; text-align: left;}
.editInfoMap .monopolize .monopolize_content input{width:660px;}
.editInfoMap .monopolize .monopolize_content textarea{width:660px;height: 180px;}

.editInfoMap .name{float:left; width:100px;text-align: right; }
.editInfoMap .content{float:left;width:300px; text-align: left;}
.editInfoMap .content select{width:264px;}
.editInfoMap .content input{width:260px;}

/**底部按钮**/
.bottomButton{text-align: center;}
.bottomButton input,.bottomButton a{margin: 30px;margin-top: 10px;}
.bottomButton input[type="button"],.bottomButton input[type="submit"]{
	width:90px;font-size: 18px;font-weight: normal;height: 40px;
}
/**** 搜索模块 ****/
.filter {float:left; width:100%;  font-size:12px; margin-top:8px;}
.filter .filter_left{float:left; width: 80px; margin-top:25px; vertical-align: middle;}
.filter .search{float:left; font-size:12px;  width:560px; margin-left:5px; margin-top:2px; margin-bottom:10px;}
.filter .search ul li{margin-top:4px;height: 32px;line-height: 32px;vertical-align: middle;}
.filter .search select{height: 24px;}
.filter .filter_right{float:left; height:50px;line-height:50px;  margin-top:35px; vertical-align: middle;}

.searchRow{float:left; font-size:12px;   margin-left:120px; margin-top:-45px; margin-bottom:2px;}
.searchRow ul li{float:left;margin-top:4px;height: 32px;line-height: 32px;margin-left: 8px;}
/***列表模块***/
.listMap{border-right:1px solid #5a686b;border-bottom:1px solid #5a686b} 
.listMap tr th{border-left:1px solid #5a686b;border-top:1px solid #5a686b} 
.listMap tr td{border-left:1px solid #5a686b;border-top:1px solid #5a686b} 
.listMap tr th{font-weight:bold;text-align: center;font-size: 14px; height: 28px;line-height: 28px;}
.listMap tr td{text-align: center;font-size: 12px; height: 24px;line-height: 24px;}
.listMap .function a{margin-left: 12px;color: #446ccc;cursor: pointer;text-decoration:underline;}
/**列表底部分页与按钮***/
.listMapBottom{float:left; width:100%; margin-top: 6px;}
.listMapBottom .listMapBottom_left{float:left; width:20%; }
.listMapBottom .listMapBottom_right{float:right; width:80%; }


/***群组特征编辑***/
.editHttpRequest  {margin-left:auto; margin-right:auto; width:100%;min-width: 800px;}

.httpRequestInfo{margin-left:auto; margin-right:auto; padding-left: 60px;margin-bottom: 8px;margin-top: 4px;width: 800px;height: auto;}
.httpRequestInfo ul li {float:left;width:100%; min-height:30px;line-height: 30px;margin-bottom: 8px;}
.httpRequestInfo span{display: inline-block;height: 100%;vertical-align: middle;float: left;}
.httpRequestInfo .name{width: 80px;text-align: right;}
.httpRequestInfo .text{width: 270px;text-align: left;}
.httpRequestInfo .short_content{width: 270px;text-align: left;}
.httpRequestInfo .content{width: 620px;text-align: left;}
.httpRequestInfo .button{width: 80px;text-align: center;}

.httpRequestInfo .short_content input[type="text"]{width: 228px;height: 22px;vertical-align: middle;margin-top: 2px;}
.httpRequestInfo .short_content select{width: 230px;height: 26px;vertical-align: middle;margin-top: 2px;padding-top: 2px;}
.httpRequestInfo .content input[type="text"]{width: 575px;height: 22px;vertical-align: middle;margin-top: 2px;}
.httpRequestInfo .content textarea{width: 575px;height: 80px;vertical-align: middle;margin-top: 2px;}
.httpRequestInfo .button input{width: 62px;height: 28px;}

