<?xml version="1.0" encoding="UTF-8"?>
 <web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- 静态文件不经拦截直接访问，每种文类型一个配置。必须写在DispatcherServlet前面 -->
	<!-- 
	<ervlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	 -->

 	<!-- 设置前置控制器(整个项目启动的人口),htm、vm结尾的url请求都被DispatcherServlet处理 -->
	<servlet>
		<servlet-name>task</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>task</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- 初始化加载spring服务-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/task-servlet.xml</param-value>
	</context-param>
	
	<!-- Spring初始化监听， 对Spring容器进行实例化--> 
<!-- 	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener> -->
 
 	<!-- 字符过滤 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 
 	<!-- 日志监听 --> 
    <listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!-- 初始化加载日志 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<!-- 日志刷新时间设置 -->
    <context-param>
  	 	<param-name>log4jRefreshInterval</param-name>
    	<param-value>60000</param-value>
   	</context-param>
    <context-param>  
        <param-name>webAppRootKey</param-name>  
        <param-value>task.webapp.root</param-value>  
    </context-param>    	
   	
	<!-- 错误页面跳转 -->
	<!-- 
	<error-page>
	  <error-code>403</error-code>
	  <location>/WEB-INF/page/404.jsp</location>
	</error-page>
	<error-page>
	  <error-code>404</error-code>
	  <location>/WEB-INF/page/404.jsp</location>
	</error-page>	
	<error-page>
	  <error-code>500</error-code>
	  <location>/WEB-INF/page/404.jsp</location>
	</error-page>	
	-->
 
	<!-- 初始人口 -->
	<welcome-file-list>
		<welcome-file>job/jobList.do</welcome-file>
	</welcome-file-list>
</web-app>